*{
    margin: 0;
    font-family:"Manrope", sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #20371d;
    border-radius: 10px;
    margin: 3px;
    font-weight: bold;
    font-family:Verdana;
    font-size: 30px;
    margin: 15px;
    align-self: center;
    justify-content: center;
    }
    .logo{
        align-self: center;
    }
/* EXPLORE*/
.post1-container{
    display: flex;
    justify-content: center;
    align-items:baseline;
    background-color: #e0ebd9;
    padding: 30px;
    height: 80%; 
}
.post1 {
    display: flex;
    background-color: #4353415e; 
    color: white;
    box-sizing: border-box;
    width: 70%;
    min-height: 700px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
    align-items: stretch;
}
    .post1-image { 
        border-radius: 15px;
        padding: 3rem;
        background-color: white;
        margin: 10px;
        width: 50%;
    }
    .post1-image img {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        margin: 0;
      }
     
    .post1-content { 
        border-radius: 10px;
        padding: 3rem;
        background-color: white;
        color: #20371d;
        margin: 10px;
        width: 50%;
    }
    .post1-icons{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }

    .save{
        justify-self: flex-end;
        border-radius: 15px;
        background-color: #2633245a;
        color: white;
        padding: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .profile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;

    }
    .profile-picture img{
        border-radius: 50%;
        border: solid #20371d;
    }
    .profile-name{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: left;
    }
    .follow{
        align-self: center;
        border-radius: 15px;
        background-color: #26332429;
        color: white;
        width: 2rem;
        padding: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .comment1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;

    }
    .comment1-profile img{
        border-radius: 50%;
        border: solid #20371d;
    }
    .comment1-number{
        justify-items: space-evenly;
        width: 300px;
    }
    .add-comment{
        --padding: 30px;
        display: flex;
        align-items:flex-start;
        align-items: center;
        margin: 15px;
        padding: var (--padding);
        border-radius: 28px;
        background: #f6f6f6;
        transition: background 0.25s;
        width:max-content;
        width: 350px;
    }
    .add-comment-input{
        font-size: 16px;
        font-family: Verdana;
        color: #333333;
        margin-left: var (--padding) ;
        outline: none;
        border: none;
        background: transparent;
        width: 350px;
        }
    /* NAVIGATION BAR */
    .nav{
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        font-family: Verdana;
    }
        .home{
            align-self: flex-start;
            align-self: center;
            margin: 15px;
            background-color:white;
            padding: 20px;
            border-radius: 20px;
        }
        .nav .home:hover,
        .nav .watch:hover,
        .nav .signup:hover,
        .nav .login:hover {
            background-color: #a6c3a2;
            font-weight: bold;
            box-shadow: 2px 2px 5px #20371d;
        }
        .home:active{
            background-color: #a6c3a2;
            box-shadow: 2px 2px 5px #20371d;
            color: #a6c3a2;
            font-weight: bold;
        }
        .watch{
            align-self: flex-start;
            align-self: center;
            margin: 15px;
            background-color:white;
            padding: 20px;
            border-radius: 20px;
        }

        .watch:active{
            background-color: #a6c3a2;
            box-shadow: 2px 2px 5px #20371d;
            color: #a6c3a2;
            font-weight: bold;
        }

        .search{
            --padding: 30px;
            display: flex;
            align-items:flex-start;
            align-items: center;
            margin: 15px;
            padding: var (--padding);
            border-radius: 28px;
            background: #f6f6f6;
            transition: background 0.25s;
            width:max-content;
            width: 950px;
        }
        .search:focus-within {
            background: #f1f1f1;
            }
        .search-input{
            font-size: 16px;
            font-family: Verdana;
            color: #333333;
            margin-left: var (--padding) ;
            outline: none;
            border: none;
            background: transparent;
            width: 300px;
            }
        .search-input::placeholder{
            color: #3333334c;
        }  
        .search-icon{
            color: #3333334c;
            margin: 1rem;
        }
        .search:hover{
            box-shadow: 2px 2px 5px #20371d;
        }
        .seatch:active{
            background-color: #a6c3a2;
            font-weight: bold;
            box-shadow: 2px 2px 5px #20371d;
            font-weight: bold;
        }
        .buttons{ 
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            justify-content: space-between;
        }
        .signup{
            align-self: flex-end;
            margin: 15px;
            background-color:  #a6c3a2;
            padding: 20px;
            border-radius: 20px;
        }
        .login{
            align-self: flex-end;
            margin: 15px;
            background-color: #a6c3a2;
            padding: 20px;
            border-radius: 20px;
        }
        .nav.singup:active,
        .nav.login:active{
            background-color: #a6c3a2;
            box-shadow: 2px 2px 5px #20371d;
            color: #a6c3a2;
            font-weight: bold;
        }
    

    
    /* FOOTER SECTION */
    .footer{
        display: flex;
        justify-content: center;
        background-color: #435341;
        height: 100px;
        
    }
    .info{
        align-self: center;
        justify-content: center; 
    }