*{
    margin: 0;
}
.header {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #20371d;
    border-radius: 10px;
    margin: 3px;
    font-weight: bold;
    font-family:Verdana;
    font-size: 30px;
    margin: 15px;
    align-self: center;
    justify-content: center;
    }
    .logo{
        align-self: center;
    }
/* EXPLORE*/
.explore {
    display: flex;
    background-color: #4353415e; 
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    }

    .post1 { 
        border-radius: 10px;
        border-color: #ffb4e8;
        padding: 1rem;
        background-color: white;
        text-align:justify;
        margin: 10px;
        width: 70%;
        display: flow-root;
    }
       
        .left{
            float: left;
            width: 50%;
            margin-right: 1rem;
        }
        .right{
           float: right;
           margin-left: 1rem;
           text-align:justify;
           padding: 1rem;
            width: 50%;
            height: 600px;
        }

    /* NAVIGATION BAR */
    .nav{
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        font-family: Verdana;
    }
        .home{
            align-self: flex-start;
            align-self: center;
            margin: 15px;
            background-color:white;
            padding: 20px;
            border-radius: 20px;
        }
        .home:hover{
            background-color: #a6c3a2;
            font-weight: bold;
            box-shadow: 2px 2px 5px #20371d;
        }
        .home:active{
            background-color: #a6c3a2;
            box-shadow: 2px 2px 5px #20371d;
            color: #a6c3a2;
            font-weight: bold;
        }
        .watch{
            align-self: flex-start;
            align-self: center;
            margin: 15px;
            background-color:white;
            padding: 20px;
            border-radius: 20px;
        }
        .watch:hover{
            background-color: #a6c3a2;
            font-weight: bold;
            box-shadow: 2px 2px 5px #20371d;
        }
        .watch:active{
            background-color: #a6c3a2;
            box-shadow: 2px 2px 5px #20371d;
            color: #a6c3a2;
            font-weight: bold;
        }
    
        .search{
            --padding: 30px;
            display: flex;
            align-items:flex-start;
            align-items: center;
            margin: 15px;
            padding: var (--padding);
            border-radius: 28px;
            background: #f6f6f6;
            transition: background 0.25s;
            width:max-content;
            width: 950px;
        }
        .search:focus-within {
            background: #f1f1f1;
            }
        .search-input{
            font-size: 16px;
            font-family: Verdana;
            color: #333333;
            margin-left: var (--padding) ;
            outline: none;
            border: none;
            background: transparent;
            width: 300px;
            }
        .search-input::placeholder{
            color: #3333334c;
        }  
        .search-icon{
            color: #3333334c;
            margin: 1rem;
        }
        .search:hover{
            box-shadow: 2px 2px 5px #20371d;
        }
        .seatch:active{
            background-color: #a6c3a2;
            font-weight: bold;
            box-shadow: 2px 2px 5px #20371d;
            font-weight: bold;
        }
        .buttons{ 
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            justify-content: space-between;
        }
            .signup{
                align-self: flex-end;
                margin: 15px;
                background-color:  #a6c3a2;
                padding: 20px;
                border-radius: 20px;
    
            }
            .signup:hover{
                background-color: #a6c3a2;
                font-weight: bold;
                box-shadow: 2px 2px 5px #20371d;
            }
            .singup:active{
                background-color: #a6c3a2;
                box-shadow: 2px 2px 5px #20371d;
                color: #a6c3a2;
                font-weight: bold;
            }
            .login{
                align-self: flex-end;
                margin: 15px;
                background-color: #a6c3a2;
                padding: 20px;
                border-radius: 20px;
            }
            .login:active{
                background-color: #a6c3a2;
                box-shadow: 2px 2px 5px #20371d;
                color: #a6c3a2;
                font-weight: bold;
            }
            .login:hover{
                background-color: #a6c3a2;
                font-weight: bold;
                box-shadow: 2px 2px 5px #20371d;
            }
    

    
    /* FOOTER SECTION */
    .footer{
        display: flex;
        justify-content: center;
        background-color: #435341;
        height: 100px;
        
    }
    .info{
        align-self: center;
        justify-content: center; 
    }