.container {
    background: #ffffff;
    transition: width 2s, height 2s, transform 2s;
}
.box{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
}
div:hover {
    width: 150px;
    height: 200px;
    transform: rotate(360deg);
      transition-delay:0.5s;
    }