 /* COLOR PALETTE
 YELLOW: #FFF1BE
 ORANGE: #FFCA85
 GREEN: #9EBF9D
 PINK: #FFC0C7
 BLUE: #A5C7FF */

 /* TEXT

 BLACK
 WHITE

 FOR YELLOW BACKGROUND:
 BROWN: #916600
 GREEN: #2e7d2a
 RED: #c04057
 BLUE: #0071c0

 FOR ORANGE BACKGROUND:
 GREEN: ##0c6b00
 RED: #b7053c
 BLUE: #005ea1

 FOR PINK BACKGROUND:
 GREEN: #0c6800
 BLUE: #005c9e

 FOR BLUE BACKGROUND:
 BLUE: #0a6000 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Pilcrow Rounded', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
    text-decoration: none; 
}
img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}
.header {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #A5C7FF;
    border-radius: 10px;
    margin: 3px;
    font-weight:bolder;
    font-family: 'Pilcrow Rounded', sans-serif;
    font-size: 50px;
    margin: 15px;
    align-self: center;
    justify-content: center;
    }

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* EXPLORE WITH GRID */
.explore1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #FFF1BE;  
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    font-family:'PilcrowRounded-Bold';
    }
    .post1, .post2, .post3,  .post4, .post5, .post6, .post7, .post8, .post9{
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        margin: 10px;
        padding: 5px;
        overflow: hidden;
    }
    .post1 { grid-area: 1 / 1 / 3 / 3;}
    .post2 { grid-area: 1 / 3 / 3 / 4;}
    .post3 { grid-area: 1 / 4 / 2 / 5;}
    .post4 { grid-area: 2 / 4 / 3 / 5;}
    .post5 { grid-area: 3 / 1 / 5 / 2;}
    .post6 { grid-area: 3 / 2 / 4 / 3;}
    .post7 { grid-area: 4 / 2 / 5 / 4;}
    .post8 { grid-area: 3 / 3 / 4 / 4;}
    .post9 { grid-area: 3 / 4 / 5 / 5;}

    /* NAVIGATION BAR */
.nav{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-family: 'Pilcrow Rounded', sans-serif;
    margin: 0 15px;
}
    .home{
        align-self: flex-start;
        align-self: center;
        margin: 15px;
        background-color:white;
        padding: 20px;
        border-radius: 20px;
    }
    .home:hover{
        background-color: #FFF1BE;
        font-weight: bold;
        box-shadow: 2px 2px 5px #20371d;
    }
    .home:active{
        background-color: #9EBF9D;
        box-shadow: 2px 2px 5px #20371d;
        color: #000000;
        font-weight: bold;
    }
    .watch{
        align-self: flex-start;
        align-self: center;
        margin: 15px;
        background-color:white;
        padding: 20px;
        border-radius: 20px;
    }
    .watch:hover{
        background-color: #FFC0C7;
        font-weight: bold;
        box-shadow: 2px 2px 5px #20371d;
    }
    .watch:active{
        background-color: #a6c3a2;
        box-shadow: 2px 2px 5px #20371d;
        color: #a6c3a2;
        font-weight: bold;
    }

    .search{
        --padding: 30px;
        display: flex;
        align-items:flex-start;
        align-items: center;
        margin: 15px;
        padding: var (--padding);
        border-radius: 28px;
        background: #f6f6f6;
        transition: background 0.25s;
        width:max-content;
        width: 950px;
    }
    .search:focus-within {
        background: #f1f1f1;
        }
    .search-input{
        font-size: 16px;
        font-family:'PilcrowRounded-Bold';
        color: #333333;
        margin-left: var (--padding) ;
        outline: none;
        border: none;
        background: transparent;
        width: 300px;
        }
    .search-input::placeholder{
        color: #3333334c;
    }  
    .search-icon{
        color: #3333334c;
        margin: 1rem;
    }
    .search:hover{
        box-shadow: 2px 2px 5px #FFF1BE;
    }
    .search:active{
        background-color: #FFF1BE;
        font-weight: bold;
        box-shadow: 2px 2px 5px #20371d;
        font-weight: bold;
    }
    .buttons{ 
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
    }
        .signup{
            align-self: flex-end;
            margin: 15px;
            background-color:  #9EBF9D;
            padding: 20px;
            border-radius: 20px;

        }
        .signup:hover{
            background-color: #FFC0C7;
            font-weight: bold;
            box-shadow: 2px 2px 5px #20371d;
        }
        .singup:active{
            background-color: #a6c3a2;
            box-shadow: 2px 2px 5px #20371d;
            color: #a6c3a2;
            font-weight: bold;
        }
        .login{
            align-self: flex-end;
            margin: 15px;
            background-color: #FFC0C7;
            padding: 20px;
            border-radius: 20px;
        }
        .login:active{
            background-color: #a6c3a2;
            box-shadow: 2px 2px 5px #20371d;
            color: #a6c3a2;
            font-weight: bold;
        }
        .login:hover{
            background-color: #a6c3a2;
            font-weight: bold;
            box-shadow: 2px 2px 5px #20371d;
        }

/* FOOTER SECTION */
.footer{
    display: flex;
    justify-content: center;
    background-color: #43534132;
    height: 100px;
    
}
.info{
    align-self: center;
    justify-content: center; 
}