div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
}
  
div:hover {
    width: 150px;
    height: 200px;
    transform: rotate(180deg);
      transition-delay:0.5s;
    }